<% if current_user.piekus.any? %>
<div class="col-md-12 text-center welcome-profile">
  <h1>Welcome <%= current_user.full_name %></h1>
  <h3>My Piekus</h3>
  <div class="col-md-3"></div>
    <div class="col-md-6">
      <!-- pieku post -->
      <%= render 'piekus/post' %>
      <% else %>
        <h4>You haven't created any delicious Piekus yet!</h4>
      <% end %>
    </div>
  <div class="col-md-3"></div>
</div>
<%= link_to "Add New Pieku", new_pieku_path %>